@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>


<address>
    Bayok Ilya Alexandrovich<br />
   
    <abbr title="Phone"></abbr>
   
</address>

<address>
    <strong>MobilePhone:</strong>   <a >+375 25 698 72 43</a><br />
    <strong>Email:</strong> <a>piugofirst@gmail.com</a>
</address>