@model service_station.Models.ClientCard

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">The order related to this car has already exist.</h2>
<div class="form-actions no-color">

    @Html.ActionLink("Back to List", "Index")
</div>



